
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .dropdown-menu{
        border-radius: 0px;
        background-color: rgb(46, 46, 46);
        box-shadow: 2px 2px 10px black;
    }
    .dropdown-menu a{
        color: white;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
    img:hover{
        filter: brightness(1.6);
    }
    img{
        width: 100%;
        height: 100%;
    }
    header{
        height: 104px;
    }
    .navbar{
        position:fixed;
        width: 100%;
        background-color: rgb(46, 46, 46);
        height: 104px;
    }
    
    .navbar-brand{
        width: 176px;
        height: 44px;
        margin: auto;
    }
    .navbar .row{
        position: absolute;
        top: 5px;
        margin: 1px 0px 0px 0px;
        right: 92px;
        font-size: 11px;
    }
    .navbar .col{
        margin-left: 15px;
        border: 2px solid rgb(84, 84, 255);
        line-height: 24px;
        padding: 0px;
        width: 34px;
        height: 34px;
    }
    .navbar .col1{
        position: absolute;
        top: 0px;
        right: 130px;
        width: 109px;
        line-height: 24px;
        padding: 0;
        font-size: 11px;
        background-color: #9f9db28c;
    }
    .navbar .col1 img{
        width: 16px;
        height: 16px;
        margin: 0px 8px 0px 4px;
    }
    .navbar .col2{
        line-height: 24px;
        padding: 0px;
        width: 75px;
        height: 24px;
        color: #FFFFFF8C;
    }
    .containmailbox{
        display: flex;
        margin-right: 10px;
        background-color: rgba(179, 179, 179, 0.299);
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        float: left;
    }  
    .main1{
        height: 794px;
        background-size: cover;
        background-position: center;
        background-image: url(../img/bgs.jpg);
    }
    .navmini{
        position: relative;
        top: 39px;
        margin: auto;
        width: 940px;
        height: 35px;
        padding: 0;
        box-shadow: 2px 2px 5px black;
        justify-content: flex-start;
    }
    .navmini a{
        font-size: 13px;
        font-weight:600;
        padding: 0px 20px;
        height: 100%;
        line-height: 35px;
    }
    .navmini a:hover{
        background-color: white;
        color: #0A4A78;
        transition-duration: 0.3s;
    }
    .navmini img{
        width: 16px;
        height: 16px;
    }
    .form-control{
        position: absolute;
        top:6px;
        right: 3px;
        height: 24px;
        width: 223px;
        margin: 0;
        padding: 3px;
        border: none;
        border-radius: 0px;
        background-color: #0A4A78;
        font-style: italic;
        font-size: 12px;
    }
    .navmini .kinhlup{
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 6px;
    }
    .carousel{
        width: 90%;
        margin: auto;
    }
    .slide{
        position: static;
        margin-top: 330px;
        height: 400px;
        padding: 0;
    }
    .carousel-control-prev{
        position: relative;
        left: -11px;
        top: -230px;
        float: left;
        height: 60px;
        width: 60px;
        background-color: black;
    }
    .carousel-control-next{
        position: relative;
        right: -11px;
        top: -230px;
        float: right;
        height: 60px;
        width: 60px;
        background-color: black;
    }
    .carousel-item .row{
        display: flex;
        margin: auto;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }
    .hero-capsule{
        width: 30%;
        height: 400px;
        margin: 0px;
        margin: auto;
        
    }
    .hero-capsule img{
        width: 100%;
        height: 100%;
    }
    .hero-capsule .badgeds{
        z-index: 2;
        position: relative;
        top: -70px;
        height: 29px;
        width: max-content;
        margin: 0;
        float: right;
        background-color: #0A4A78;
    }
    .hero-capsule .badgeds h4{
        font-size: 16px;
        height: 100%;
        padding: 0 5px;
        line-height: 29px;
        background-color: greenyellow;
        float: left;
    }
    .hero-capsule .badgeds h5{
        float: left;
        padding: 0px 20px;
        font-size: 15px;
        line-height: 29px;
    }
    .hero-capsule .badgeds del{
        font-size: 11px;
        line-height: 29px;
    }
    .main2{
        height: max-content;
        width: 100%;
        padding: 20px;
        padding-bottom: 50px;
        background-size: cover;
        background-position: center;
        background-image: url(../img/bgbg.jpg);
    }
    .prolist1{
        position: relative;
        width: 100%;
        height: max-content;
        padding-bottom: 50px;
        top: 50px;
        margin: auto;
    }
    .prolist2{
        width: 100%;
        height: fit-content;
        margin: auto;
    }
    .pro{
        width: 23%;
        height: 183px;
    }
    .pro img{
        height: 80%;
    }
    .probig{
        width: 30%;
        height: 237px;
    }
    .cost{
        width: 100%;
        height: 32px;
        font-style: italic;
    }
    .cost h4{
        width: 20%;
        height: 100%;
        background-color: greenyellow;
        text-align: center;
        font-size: 18px;
        line-height: 32px;
        float: left;
    }
    .cost h5{
        width: 40%;
        height: 100%;
        text-align: right;
        padding-right: 20px;
        background-color: #0A4A78;
        line-height: 32px;
        float: left;
    }
    .cost del{
        padding-left: 20px;
        color: gray;
        width: 40%;
        height: 100%;
        background-color: #0A4A78;
        line-height: 32px;
        float: left;
    }
    .browse-categories{
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 90px;
    }
    .browse-categories>h4{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bolder;
    }
    .category h4{
        width: 100%;
        text-align: center;
        position: relative;
        color: white;
        top: 190px;
    }
    .category h4:hover{
        color: aqua;
    }
    .browse-categories .col{
        width: 25%;
    }
    .category{
        width: 100%;
        height: 250px;
        margin: 10px auto;
        word-break: break-all;
    }
    .browse-categories .row{
        padding: 0px;
        padding-top: 60px;
        margin: auto;
        width: 90%;
    }
    .cate1{
        box-shadow: 0px -90px 10px inset rgba(255, 0, 0, 0.571);
        background-image: url('../img/visual_novel.png');
        background-size: cover;
    }
    .cate2{
        box-shadow: 0px -90px 10px inset rgba(0, 0, 255, 0.571);
        background-image: url('../img/strategy_cities_settlements.png');
        background-size: cover;
    }
    .cate3{
        box-shadow: 0px -90px 10px inset rgba(255, 247, 0, 0.571);
        background-image: url('../img/simulation.png');
        background-size: cover;
    }
    .cate4{
        box-shadow: 0px -90px 10px inset rgba(0, 255, 26, 0.571);
        background-image: url('../img/multiplayer_coop.png');
        background-size: cover;
    }
    .love-contain{
        width: 95%;
        margin: auto;
        margin-top: 50px;
        height: 400px;
    }
    .love-contain .banner{
        background-color: rgba(252, 252, 32, 0.379);
        width: 30%;
        height: 100%;
        float: left;
        clear: right;
    }
    .love-contain .banner h4{
        font-size: 28px;
        opacity: 100;
        color: white;
        font-weight: bolder;
        padding: 50px;
    }
    .love-contain .banner h5{
        color: white;
        font-weight: bolder;
        font-size: 16px;
        margin-top: 70px;
        padding: 50px;
    }
    .love-contain .contain-pro{
        height: 360px;
        margin-top: 20px;
        margin-bottom: 200px;
        width: 70%;
        float: left;

    }
    .love-contain .contain-pro .row{
        width: 100%;
        height: 179px;
        margin: auto;
    }
    .love-contain .contain-pro .col{
        width: 34%;
    }
    .love-contain .contain-pro .cards{
        width: 100%;
        height: 100%;
    }
    .love-contain .contain-pro .cards img{
        height: 80%;
    }
    .love-contain .contain-pro .cards .cost{
        background-color: rgba(61, 61, 61, 0.436);
        text-align: right;
        height: 25px;
        line-height: 25px;
        padding-right: 10px;
        color: white;
        text-decoration: underline;
    }
    .suggess-contain{
        width: 90%;
        height: 150px;
        margin: auto;
        margin-bottom: 500px;
        position: relative;
    }
    .suggess-contain h4{
        color:white;
        margin-bottom: 0;
    }
    .suggess-contain a{
        color: rgb(0, 204, 255);
    }
    .suggess-contain p{
        color: gray;
    }
    .suggess-contain .header{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .suggess-contain .header1{
        width: 25%;
        float: left;
    }
    .suggess-contain .header1 .pro{
        height: 100%;
    }
    .suggess-contain .header2{
        width: 75%;
        height: 119px;
        float: left;
        margin-top: 15.5px;
    }
    .suggess-contain .header2 img{
        width: 33%;
        height: 100%;
        float: left;
    }
    .suggess-contain .cach{
        display: flex;
        float: left;
        width: 100%;
        justify-content: space-between;
    }
    .suggess-contain .button-contain{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 50%;
        height: 100%;
        float: left;
    }
    .suggess-contain .button-contain a{
        background-color: #6cc2ff4b;
        opacity: 0.5;
        color: #0095ff;
        padding: 3px 20px;
    }
    .suggess-contain .button-contain a:hover{
        background-color: #0095ff;
        color: white;
    }
    .footer-contain{
        background-color: #212529;
        padding-top: 50px;
        width: 100%;
    }
    .footer-contain .gridf{
        display: grid;
        grid-template-columns: repeat(12, s1fr);
        grid-template-rows: 10px 66px 66px;
        margin: auto;
        width: 80%;
    }
    .valve{
        grid-column: span 1;
        grid-row: 2/3;
    }
    .valve img{
        width: 88px;
        height: 25px;
    }
    .footer-contain .col1{
        grid-column: span 10;
        grid-row: 2/3;
        color: gray;
        text-align: center;
        font-size: 12px;
    }
    .steam{
        display: flex;
        justify-content: center;
        grid-column: span 1;
        grid-row: 2/3;
    }
    .steam img{
        width: 92px;
        height: 26px;
    }
    .footer-contain .bottom{
        margin-top: 10px;
        font-size: 12px;
        grid-column: span 12;
        grid-row: 3/4;
        text-align: center;
    }
    .topline{
        position: relative;
        top: -10px;
        width: 90%;
        margin: auto;
        color: white;
    }
    .botline{
        position: relative;
        top: 75px;
        width: 90%;
        margin: auto;
        color: white;
    }
    @media  screen and (max-width: 990px) {
        .footer-contain .gridf{
            width: 99%;
        }
        .topline{
            width: 100%;
        }
        .botline{
            width: 100%;
        }
        .navbar .row{
            top: 5px;
            right: 5px;
        }
        .main1{
            height: 1088;
            padding-top: 350px;
            background-position: top;
        }
        .slide{
            margin-top: 0px;
        }
        .navmini{
            display: none;
            
        }
        .hero-capsule{
            width: 45%;
        }
        .an{
            display: none;
        }
        .antablet{
            display: none;
        }
        .main2 .prolist1 .col{
            width: 33%;
        }
        .main2 .prolist2 .col{
            width: 50%;
        }
        .cost{
            height: 20px;
        }
        .cost h5{
            font-size: 14px;
            line-height: 20px;
        }
        .cost h4{
            font-size: 13px;
            line-height: 20px;
        }
        .cost del{
            font-size: 11px;
            line-height: 20px;
        }
        .love-contain .banner{
            width: 100%;
            height: 40%;
        }
        .love-contain .banner h4{
            padding: 20px 60px;
        }
        .love-contain .banner h5{
            padding: 10px 60px;
            margin-top: 0;
        }
        .love-contain .contain-pro{
            width: 100%;
        }
        .suggess-contain{
            margin-bottom: 800px;
        }
        .sgct2{
            margin-bottom: 500px;
        }
        .suggess-contain .header1{
            width: 55%;
            height: 357px;
            background-color: #0095ff;
        }
        .suggess-contain .header1 img{
            height: 94.5%;
        }
        .suggess-contain .header2{
            display: flex;
            height: 357px;
            width: 40%;
            flex-direction: column;
            float: left;
            margin-top: 0;
        }
        .suggess-contain .header2 img{
            width: 90%;
            margin: auto;
            height: 119px;
        }
        .suggess-contain .header{
            width: 95%;
            margin: auto;
        }
        .suggess-contain .button-contain a{
            
            padding: 3px 5px;
        }
    }


    @media screen and (max-width: 600px) {
        .footer-contain .gridf{
            grid-template-rows: 66px 66px 66px;
        }
        .valve img{
            width: 150px;
            height: 50px;
        }
        .steam img{
            width: 150px;
            height: 50px;
        }
        .footer-contain{
            height: 400px;
            gap: 30px;
        }
        .footer-contain .col1{
            grid-column: span 6;
        }
        .footer-contain .valve{
            width: 50%;
            grid-column: span 3;
            grid-row: 1/2;
        }
        .footer-contain .steam{
            grid-column: 10/24;
            width: 50%;
            grid-row: 1/2;
        }
        .footer-contain .col1{
            grid-column: span 12;
            margin-top: 10px;
            grid-column: 1/24;
            width: 100%;
        }
        .footer-contain .bottom{
            margin-top: 60px;
            grid-column: span 12;
            grid-column: 1/24;
        }
        .navbar .row{
            top: 30px;
            right: 15px;
        }
        .navbar .col2{
            display: none;
        }
        .navbar .row .col{
            width: 39px;
            height: 39px;
        }
        .main1{
            background-size: cover;
        }
        .navmini{
            display: none;
        }
        .hero-capsule{
            width: 95%;
        }
        .an1{
            display: none;
        }
        .antablet{
            display: block;
        }
        .main2 .row{
            width: 95%;
            margin: auto;
        }
        .main2 .prolist1 .col{
            width: 50%;
        }
        .cost h5{
            font-size: 10px;
            line-height: 20px;
        }
        .cost h4{
            font-size: 9px;
            line-height: 20px;
        }
        .cost del{
            padding-left: 2px;
            font-size: 7px;
            line-height: 20px;
        }
        .main2 .prolist2 .col{
            width: 100%;
            margin-top: 20px;
        }
        .browse-categories .col{
            width: 45%;
            margin: auto;
        }
        .love-contain .banner h4{
            font-size: 25px;
            text-align: center;
        }
        .love-contain .banner h5{
            font-size: 15px;
            text-align: center;
        }
        .love-contain .contain-pro .col{
            height: 250px;

        }
        .love-contain .contain-pro .row{
            margin-bottom: 50px;

        }
        .suggess-contain{
            margin-top: 200px;
        }
        .suggess-contain .header{
            display: flex;
            flex-direction: column;
        }
        .suggess-contain .header1{
            width: 100%;
            margin-bottom: 0px;
        }
        .suggess-contain .header1 h4{
            font-size: large;
        }
        .suggess-contain .header1 h5{
            font-size: 16px;
        }
        .suggess-contain .header1 del{
            font-size: 14px;
        }
        .suggess-contain .header2{
            flex-direction: row;
            height: fit-content;
            width: 100%;
        }
        .suggess-contain .header2 img{
            width: 33.34%;
        }
        .suggess-contain .cach{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .suggess-contain .button-contain{
            width: 100%;
            justify-content:space-between;
            margin-bottom: 2px;
        }
        .suggess-contain .button-contain a{
            margin: 0px 10px;
        }
    }
    @media screen and (max-width:300px) {
        .steam img{
            width: 100%;
            height: 100%;
        }
        .valve img{
            width: 100%;
            height: 100%;
        }
        .footer-contain .valve{
            width: 70%;
            height: 50%;
        }
        .footer-contain .steam{
            width: 70%;
            height: 50%;
        }
    }